
<div class="lang_switcher">
    {% for lang in site.languages %}
        {% assign lang_name = site.data[lang].l10n.lang_name %}
        {% if lang == site.active_lang %}
            {{ lang_name }}
        {% else %}
            {% if page.layout == 'home' %}
                {% if lang == site.default_lang %}
                    <a href="{{ site.url }}">{{ lang_name }}</a>
                {% else %}
                    <a href="{{ site.url }}/{{ lang }}">{{ lang_name }}</a>
                {% endif %}
            {% else %}
                {% if lang == site.default_lang %}
                    <a href="{{ site.url }}/{{ page.handle }}.html">{{ lang_name }}</a>
                {% else %}
                    <a href="{{ site.url }}/{{ lang }}/{{ page.handle }}.html">{{ lang_name }}</a>
                {% endif %}

            {% endif %}
            
        {% endif %}
    {% endfor %}
</div>