
<div class="lang_switcher">
    {% for lang in site.languages %}
        {% assign lang_name = site.data[lang].l10n.lang_name %}
        {% if lang == site.active_lang %}
            {{ lang_name }}
        {% else %}
            {% assign base_url = site.url %}
            {% if page.layout == 'home' and lang != site.default_lang %}
                {% assign base_url = base_url | append: '/' | append: lang %}
            {% elsif lang == site.default_lang%}
                {% assign base_url = base_url | append: '/' | append: page.handle | append: '.html' %}
            {% else %}
                {% assign base_url = base_url | append: '/' | append: lang | append: '/' | append: page.handle | append: '.html' %}
            {% endif %}
            <a href="{{ base_url }}">{{ lang_name }}</a>
            
        {% endif %}
    {% endfor %}
</div>