
<div class="lang_switcher">
    {% for lang in site.languages %}
        {% assign lang_name = site.data[lang].l10n.lang_name %}
        {% if lang == site.active_lang %}
            {{ lang_name }}
        {% else %}
            {% if page.layout == 'home' %}
                {% if lang == site.default_lang %}
                    <a href="{{ site.url }}">{{ lang_name }}</a>
                {% else %}
                    <a href="{{ site.url }}/{{ lang }}">{{ lang_name }}</a>
                {% endif %}
            {% elsif page.layout == 'category' %}
                {% if lang == site.default_lang %}
                    <a href="/{{ page.ref | append: '.html' | downcase }}">{{ lang_name }}</a>
                {% else %}
                    <a href="/{{ lang | append: '/' | append: page.ref | append: '.html' | downcase }}">{{ lang_name }}</a>
                {% endif %}
            {% else %}
                {% if lang == site.default_lang %}
                    {% assign url = site.url | append: '/' | append: page.handle | append: '.html' %}
                {% else %}
                    {% assign url = site.url | append: '/' | append: lang | append: '/' | append: page.handle | append: '.html' %}
                {% endif %}
                <a {% static_href %} href="{{ url }}" {% endstatic_href %}>{{ lang_name }}</a>
            {% endif %}
            
        {% endif %}
    {% endfor %}
</div>