---
---

@import 'jekyll-theme-cayman-blog';

h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #372DBF;
}

h2,
h3 {
    font-family: "Roboto Slab", serif;
    color: #372DBF;
}

body {
    font-family: "Roboto", sans-serif;
    color: #372DBF;
}
.page-header {
    background-image: linear-gradient(75deg, #ADE0D0, #372DBF, #ADE0D0);
}
.page-header>h1,
.page-header>h2 {
    color: #FFFFFF;
}